#imgTitres{
   height: 100px;
   text-align: center;
   border-radius: 5px;
}
#nave{
  width : 100%;
  max-width: 2000px;
}
.navbar-nav{
}
.colcentre{
  background-color: white;
  border-radius: 25px;
}
.colgauche{
  text-align: left;
}
.coldroite{
  margin-left: 20%;
  text-align: right;
}
.img-menu{
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: lightGray;
  border: 2px solid #30c040;
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar{
  background-color: #70402f;
  box-shadow: 0px 20px 25px grey;
}
.textMenu{
  background-color: lightGray;
  border: 2px solid #30c040;
  border-radius: 10px;
  color : black;
  width: 150px;
  text-align: center;
}
.dropdown-menu{
  border-color: #30c040;
}
